<!--Gallery Hover Effect Starts-->
<div class="row">
  <div class="col-12">
    <div class="content-header">Juegazos</div>
    <p class="content-sub-header mb-1"></p>
  </div>
</div>
<section id="gallery-hover-effects">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div
            class="card-body"
            itemscope
            itemtype="http://schema.org/ImageGallery"
          >
            <div class="grid-hover">
              <div class="row">
                <div class="col-md-6 col-12">
                  <h5 class="text-bold-400 text-uppercase"></h5>
                  <figure class="effect-lily">
                    <img
                      src="https://static.bandainamcoent.eu/high/elden-ring/elden-ring/00-page-setup/elden-ring-new-header-mobile.jpg"
                      width="480"
                      height="360"
                    />
                    <figcaption>
                      <div>
                        <h2>
                          Elden ring
                          <span></span>
                        </h2>
                        <p></p>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-6 col-12">
                  <h5 class="text-bold-400 text-uppercase"></h5>
                  <figure class="effect-sadie">
                    <img
                      src="https://image.api.playstation.com/vulcan/img/rnd/202010/2614/NVmnBXze9ElHzU6SmykrJLIV.png"
                      width="480"
                      height="360"
                    />
                    <figcaption>
                      <h2>
                        Bloodborne
                        <span></span>
                      </h2>
                      <p></p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>

            <div class="grid-hover">
              <div class="row">
                <div class="col-md-6 col-12">
                  <h5 class="text-bold-400 text-uppercase"></h5>
                  <figure class="effect-honey">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/f/fd/Logo_of_Stardew_Valley.png"
                      width="480"
                      height="360"
                    />
                    <figcaption>
                      <h2>
                        Stardew Valley
                        <span></span>
                      </h2>
                      <p></p>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-6 col-12">
                  <h5 class="text-bold-400 text-uppercase"></h5>
                  <figure class="effect-layla">
                    <img
                      src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000027619/9989957eae3a6b545194c42fec2071675c34aadacd65e6b33fdfe7b3b6a86c3a"
                      width="480"
                      height="360"
                    />
                    <figcaption>
                      <h2>
                        Animal Crossing: New Horizons
                        <span></span>
                      </h2>
                      <p></p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Gallery Hover Effect Starts-->
