<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css"
/>
<div class="container text-center">
  <div class="row align-items-start">
    <h4>ID</h4>
    <input
      type="text"
      [(ngModel)]="id"
      class="form-control mb-1"
      placeholder="Número de identificación"
    />
    <h4>Nombre</h4>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      class="form-control mb-1"
      placeholder="Nombre completo"
    />
    <h4>Rol</h4>
    <input
      type="text"
      [(ngModel)]="role"
      name="role"
      class="form-control mb-1"
      placeholder="Rol de usuario"
    />
    <h4>Email</h4>
    <input
      type="text"
      [(ngModel)]="email"
      name="email"
      class="form-control mb-1"
      placeholder="Correo electrónico"
    />
    <h4>Contraseña</h4>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      class="form-control mb-5"
      placeholder="Contraseña"
    />
  </div>
</div>
<div class="col">
  <button
    type="button"
    class="btn btn-secondary btn-lg btn-block"
    (click)="add()"
  >
    Agregar usuario
  </button>
</div>
<div class="col">
  <button
    type="button"
    class="btn btn-warning btn-lg btn-block"
    (click)="back()"
  >
    volver
  </button>
</div>
